body {
    width: 100%;
    height: 100%;
}

/*form-set where the user gives the input in RGB format*/
.form_set {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    padding: 0 250px 0 250px;
    width: 500px;
    height: 60px;
}

/*part of form-set*/
input[type=text] {
    margin: 15px 15px 15px 15px;
    padding: 5px 0 5px 0;
    width: 25%;
    border: 2px solid black;
    border-radius: 6%;
}

/*part of form-set*/
input[type=button] {
    margin: 15px 15px 15px 15px;
    padding: 5px 0 5px 0;
    width: 15%;
}

/*the upper-middle section where
  the HEX color code will appear*/
#out {
    margin: 25px auto 25px auto;
    padding: auto auto;
    width: 30%;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 42px;
}


/*styling for the Clear function button*/
/* #clear {
    margin: auto auto;
    padding: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
} */
